.dash-wrapper{
  height: 100vh;
  width: 100%;
  /* background-image: url(./../assets/website-background-design.jpg);
  background-size: cover; */

}
/* .background-hue{
  height: 100vh;
  width:100%;
  background: lightblue;
  opacity: .5;
} */
.featured-post-carousel{
  margin-top: 100px;
  height: 40vh;
  width: 100%;
  background: black;
  opacity: .7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured-post{
  height: 40vh;
  width: 40%;
  background: lightslategray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recents-dash{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.recent-posts{
  margin-top: 50px;
  height: 400px;
  width: 350px;
  background: red;
}
.watchlist{
  margin-top: 50px;
  height: 400px;
  width: 350px;
  background: red;
}
.recent-news{
  margin-top: 50px;
  height: 400px;
  width: 350px;
  background: red;
}
.carousel-wrapper{
  height: 40vh;
  width: 100%;
}