.dash-wrapper{
  margin-top: 100px;
  width: 100%;
  /* background-image: url(./../assets/website-background-design.jpg);
  background-size: cover; */

}
/* .background-hue{
  height: 100vh;
  width:100%;
  background: lightblue;
  opacity: .5;
} */

.recents-dash{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  height: 400px;
}
.recent-posts{
  margin-top: 50px;
  width: 350px;
  background: red;
}
.watchlist{
  margin-top: 50px;
  width: 350px;
  background: red;
}
.recent-news{
  margin-top: 50px;
  width: 350px;
  background: red;
}
.bd-example{
  margin: 100px 0;
}
