.dash-wrapper {
  background-image: url("../assets/website-background-design.jpg");
  background-size: cover;
  height: 100vh;
  /* display: flex; */
}
.news-wrapper {
  min-height: 500px;
  width: 100%;
  border-bottom: 1px solid black;
}
.article-image img {
  width: 400px;
}

.top5-wrapper{
  height: 100px;
  /* width: 400px; */
  border: 1px solid black;
  display: flex;
}
.top5-user{
  display: flex;
  flex-direction: column;
  min-width: 100px;
  margin-top: 15px;
  /* height: 100px; */
  justify-content: center;
  align-items: center;
}
.top5-content{
  border-left: 2px solid black;
  text-align: left;
  padding: 10px;
}
