.forum-wrapper {
  background-image: url('../assets/website-background-design.jpg');
  background-size: cover;
  /* height: 150vh; */
  padding-top: 130px;
}
.recentposts {
  display: flex;
  flex-direction: column;
}
.mostrecent1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 20px;
}
.profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background: orange;
}
.recent1text{
  padding-left: 20px;
}
