.forum-wrapper {
  background: grey;
  height: 100vh;
}
.topic-text{
  
}
.forum-topic {
  margin-top: 50px;
  margin-left: 20px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.topic1{
  margin-top: 20px;
  width: 700px;
  text-align: left;
  align-items: center;
}
.topic2{
  margin-left: 10px;
  height: 50px;
  width: 650px;
  background: lightcoral;
  opacity: .4;
}