.body-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('../assets/website-background-design.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  /* margin-top: 60px; */
}
.new-post-wrapper{
  border-radius: 5px;
  margin: 100px 100px;
  /* height: 600px; */
  width: 800px;
  background: #a9a9a9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 30px;
  margin-bottom: 20px;
}
.title{
  /* display: flex;
  flex-direction: row; */
  text-align: left;
  padding-top: 20px;
}
/* .new-post-title{
  width: 250px;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid lightcyan;
  background: transparent;
} */
.content-quill{
  text-align: left;
  padding-top: 20px;
}
.quillbox {
  width: 95%;
}
.content-attachments{
  display: flex;
  text-align: left;
  /* padding-top: 200px; */
}
.tag-select{
  margin-top: 20px;
  width: 400px;
  background-color: transparent;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.finish-buttons{
  display: flex;
  text-align: left;
  padding: 20px 0 20px;
  justify-content: space-around
}