.discussions-wrapper{
  margin-top: 10px;
  margin-left: 50px;
  height: 50px;
  width: 92%;
  background: grey;
  display: flex;
  overflow: hidden;
}
.discussion-account-info{
  background: orange;
  width: 10%;
}
.topic-body-wrapper{
  background-image: url('../assets/website-background-design.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
}
.post-info{
  display: flex;
  flex-direction: column;
  
}
.post-user-info{

}